VITE_SERVER_ADDRESS=vilmanaka.ddns.net
VITE_SERVER_ADDRESS_LIVE_MAP=http://vilmanaka.ddns.net:8100
VITE_DISCORD_LINK=https://discord.gg/8x7FFfCU
VITE_WHATSAPP_LINK=https://chat.whatsapp.com/JHbFWOiArKu4PVfRwyHwDh